# SPDX-FileCopyrightText: 2023 Brian Kubisiak <brian@kubisiak.com>
#
# SPDX-License-Identifier: GPL-3.0-only

# click for handling command-line parsing
click == 8.*

# rich for prettifying/formatting text in the terminal
rich == 12.*

# sqlalchemy for the ORM; pin to 1.4, which is the version available in
# guix. This should be 2.* once guix updates the package.
sqlalchemy == 1.4.*
